[Unit]
Description=%i service with podman compose
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=HOME=/var/lib/podman
Environment=PODMAN_COMPOSE_FILE=podman-compose.yml
EnvironmentFile=-/etc/conf.d/podman-compose
RemainAfterExit=true
WorkingDirectory=/etc/podman/compose/%i
ExecStart=/usr/bin/podman-compose -f $PODMAN_COMPOSE_FILE up -d --remove-orphans
ExecStop=/usr/bin/podman-compose -f $PODMAN_COMPOSE_FILE down

[Install]
WantedBy=multi-user.target
