[Unit]
Description=Mount shadow file with root account password
After=sysinit.target
ConditionFileNotEmpty=/var/etc/shadow
ConditionFileNotEmpty=/etc/passwd
ConditionFileNotEmpty=/etc/shadow
ConditionFileIsExecutable=/bin/pwck

[Service]
Type=oneshot
ExecStartPre=/bin/pwck -rq /etc/passwd /var/etc/shadow
ExecStart=/bin/mount -o bind,ro /var/etc/shadow /etc/shadow
RemainAfterExit=yes
