[Unit]
Description=sysroot-etc-shadow-premount-check
# TODO: consider dropping initrd-parse-etc.service
After=initrd-parse-etc.service sysroot-etc.mount
# this is implied, keep it here for documentation but don't enabled to avoid regressions
#After=dracut-mount.service
ConditionFileNotEmpty=/sysroot/var/etc/shadow
ConditionPathExists=/sysroot/etc/shadow
ConditionFileIsExecutable==/bin/pwck

[Service]
# TODO: pwck is not good to depend on, exits with an error if some old users homes not exist in the fs
ExecStart=/bin/pwck -rq /sysroot/etc/passwd /sysroot/var/etc/shadow

[Install]
WantedBy=initrd-fs.target
