[Desktop Entry]
Type=Application
Name=ranger xdg-open wrapper
NoDisplay=true
Comment=Launches the ranger file manager
Icon=utilities-terminal
#Exec=foot ranger %f
# TODO: use a wrapper, convert file:// uris to regular path for ranger, drop everything else, and use %u specifier
Exec=byobu new-window -a -n xdg_open -t =scratchpad_ranger:{end} ranger %f
MimeType=inode/directory;
