[Unit]
Description=Pre shadow mount tests
After=sysinit.target
ConditionFileNotEmpty=/var/etc/shadow
ConditionFileNotEmpty=/etc/passwd
ConditionFileNotEmpty=/etc/shadow
ConditionFileIsExecutable=/bin/pwck

[Service]
Type=oneshot
ExecStart=/bin/pwck -rq /etc/passwd /var/etc/shadow

[Install]
WantedBy=multi-user.target
