[Unit]
Description=Sysroot mount shadow file if exist for setting root password
ConditionFileNotEmpty=/sysroot/var/etc/shadow
After=sysroot-etc-shadow-premount-check.service
BindsTo=sysroot-etc-shadow-premount-check.service

[Mount]
What=/sysroot/var/etc/shadow
Where=/sysroot/etc/shadow
Options=bind

[Install]
WantedBy=initrd-fs.target
